@use "../../styles/responsive";

.portfolio {
  background-color: var(--main-color-dark);
  padding: 6rem 0;
}

.heading {
  color: #fff;
  margin-bottom: 2rem;
  text-align: center;
}

.subheading {
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  margin-bottom: 2rem;
  gap: 1rem;

  @include responsive.md {
    grid-template-columns: repeat(5, 1fr);
  }
}

.button {
  text-align: center;
}
