@use "../../styles/responsive";

.post {
  padding: 3rem 2rem;

  @include responsive.md {
    padding: 3rem 12%;
  }
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 2rem;
  font-style: italic;

  span:nth-child(1)::after {
    content: none;
    margin: 0;
  }

  span:nth-child(3) {
    place-self: flex-end;
  }

  @include responsive.md {
    flex-direction: row;
    gap: 0;

    span:nth-child(1)::after {
      content: "•";
      margin: 0 0.75rem;
    }
  }
}

.thumbnail {
  margin-bottom: 2rem;

  img {
    margin: 0 auto;
  }
}

.content {
  h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  a {
    color: var(--main-color-light);
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: var(--main-color-light);
    }
  }
}
