@use "../../styles/responsive";

.contact {
  background-color: var(--main-color-dark);
  padding: 6rem 0;
}

.wrapper {
  display: flex;
  justify-items: center;
  gap: 4rem;
  flex-wrap: wrap;

  & > div {
    width: 100%;

    @include responsive.md {
      width: 45%;
    }
  }

  @include responsive.md {
    gap: 10%;
  }
}

.textbox {
  width: 80%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  order: 1;
  text-align: center;

  @include responsive.md {
    width: 100%;
    order: 2;
    text-align: left;
  }
}

.extra {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
