.btn {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-primary {
  border: 2px solid var(--main-color-light);
  background-color: var(--main-color-light);
  color: #fff;
}
.btn-primary:hover {
  border: 2px solid #228a97;
  background-color: #228a97;
}
.btn-secondary {
  background-color: var(--secondary-color-contrast);
}
.btn-secondary:hover {
  background-color: #e34a3e;
}
.btn-third {
  background-color: var(--main-color-dark);
}
.btn-third:hover {
  background-color: #040818;
}
.btn-outline {
  background-color: #fff;
  border: 2px solid #000;
}
.btn-outline:hover {
  background-color: #f6f8ff;
}
.btn-outline-dark {
  background-color: #000;
  border: 2px solid #fff;
  color: #fff;
}
.btn-outline-dark:hover {
  background-color: #232a44;
}
