#MobileMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
}
#MobileMenu.hidden {
  display: none;
}
#MobileMenu.visible {
  display: block;
}
.mobile-menu__wrapper {
  padding: 3rem 2rem;
  display: flex;
  justify-content: space-between;
}
.mobile-menu__wrapper button {
  font-size: 1.5rem;
  position: relative;
  top: -3rem;
}
.mobile-menu__nav .mobile-menu__nav-link {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}
.mobile-menu__nav .mobile-menu__nav-link::before {
  content: "";
  display: block;
  width: 1rem;
  margin-right: 0.5rem;
  border-bottom: 2px solid var(--main-color-light);
}
